@model EfaturaPortal.Application.SeriNumaralars.ViewModels.SeriNumaralarGetAllQueryViewModel;
@{

    var action = Model == null || Model.Id == Guid.Empty ? "create" : "update";
    //var areaTypeList = typeof(type).EnumToList().Select(x => new { Value = x.Value, Text = x.Description }).OrderBy(x => x.Text).ToList();
}
<div class="modal fade EfaturaPortalApp-forms-modal" id="crud-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="EfaturaPortalApp-forms" id="EfaturaPortalApp-forms" asp-controller="Cariler" asp-action="@action" enctype="multipart/form-data" data-ajax-begin="EfaturaPortalAppOnBegin" data-ajax-complete="EfaturaPortalAppOnComplete('crud-modal')" data-ajax-failure="EfaturaPortalAppOnFailure" data-ajax-success="EfaturaPortalAppOnSuccess(data, datatableUpdate)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/SeriNumaralar/@action">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title">Seri Numaralar</h5>
                    <button type="button" class="close OtelApp-forms-modal-close" data-dismiss="modal" aria-label="Vazgeç"></button>
                </div>
                <div class="modal-body">
                    <div class="hidden">
                        <input type="hidden" class="form-control" asp-for="Id">
                    </div>

                    <!--Ünvanı-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="FaturaTuru" class="form-control-label">Ünvanı</label>
                                <select asp-for="FaturaTuru" class="form-control seridenapp-forms-select2" data-placeholder="Kayıt Türünü Seçiniz">
                                    @foreach (var item in Html.GetEnumSelectList<EfaturaPortal.Models.Enum.FaturaTuru>())
                                    {
                                        if (ViewBag.FirmaTuru == EfaturaPortal.Models.Enum.FirmaTuru.Ticari)
                                        {
                                            if (item.Value != "2")
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                        else
                                        {
                                            if (item.Value == "2")
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    }

                                </select>
                                <span asp-validation-for="FaturaTuru" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Yil" class="form-control-label">Yıl Seçin</label>
                                <select asp-for="Yil" class="form-control seridenapp-forms-select2" data-placeholder="Yıl Seçin">
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                                <span asp-validation-for="Yil" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="SeriNo" class="form-control-label">Seri Numarası (Örn:ABC)</label>
                                <input asp-for="SeriNo" class="form-control" placeholder="" maxlength="3" />
                                <span asp-validation-for="SeriNo" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="SonFaturaNo" class="form-control-label">Son Fatura Numarası</label>
                                <input asp-for="SonFaturaNo" class="form-control" placeholder="" readonly />
                                <span asp-validation-for="SonFaturaNo" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="SonFaturaTarihi" class="form-control-label">Son Fatura Numarası</label>
                                <input asp-for="SonFaturaTarihi" class="form-control" placeholder="" readonly />
                                <span asp-validation-for="SonFaturaTarihi" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Oncelik" class="form-control-label">Öncelik</label>
                                <input asp-for="Oncelik" class="form-control" placeholder="" maxlength="3" type="number" />
                                <span asp-validation-for="Oncelik" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="SablonAdi" class="form-control-label">Xslt Şablon Adı</label>
                                <input asp-for="SablonAdi" class="form-control" placeholder="" readonly />
                                <span asp-validation-for="SablonAdi" class="text-danger"> </span>
                                <input asp-for="SablonDosyaAdi" class="form-control" placeholder="" type="hidden" readonly />
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">Tasarım Dosyası Yükle</label>
                                <input class="form-control" placeholder="" id="input-file" type="file" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary OtelApp-forms-modal-close" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="kaydet" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#input-file").change(
            function () {

                Notiflix.Block.Standard('.modal-content');
                //Dosya Xslt Kontrol
                var name = this.files[0].name;
                console.log(name.length);
                console.log(name.length - 4);

                console.log(name.substr(name.length - 4, 4));
                if (name.substr(name.length - 4, 4) != "xslt") {
                    Notiflix.Notify.Failure("Lütfen Geçerli Bir Xslt Dosyası Seçin");
                    return;
                } else {

                    useFileLoad(this, name);

                }



            });

    });


    function useFileLoad(inputfile, name) {



        var filename = name;

        var reader = new FileReader();
        reader.onload = fileLoaded;
        reader.readAsDataURL(inputfile.files[0]);


        function fileLoaded(file) {


            var formData = new FormData();

            formData.append("base64file", file.target.result);
            formData.append("fname", filename);

            $.ajax(
                {
                    url: 'SeriNumaralar/UploadXslt',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        Notiflix.Block.Remove("*", 0);
                        if (data.success) {
                            $("#SablonAdi").val(name);
                            $("#SablonDosyaAdi").val(data.message);

                        } else {
                            Notiflix.Notify.Failure("Hata : " + data.message);
                        }

                    }
                }
            );




            // $('div.withBckImage').css({ 'background-image': "url(" + e.target.result + ")" });

        }
    }





</script>



