
@model EfaturaPortal.Application.Faturas.ViewModels.FaturaGetAllQueryViewModel;

@{

    var action = Model == null || Model.Id == Guid.Empty ? "create" : "update";
    //var areaTypeList = typeof(type).EnumToList().Select(x => new { Value = x.Value, Text = x.Description }).OrderBy(x => x.Text).ToList();
}

<form class="EfaturaPortalApp-forms" id="EfaturaPortalApp-forms" asp-controller="YeniSmm" asp-action="@action" enctype="multipart/form-data" data-ajax-begin="CreateInvoiceBegin" data-ajax-complete="EfaturaPortalAppOnComplete('crud-modal')" data-ajax-failure="EfaturaPortalAppOnFailure" data-ajax-success="EfaturaPortalAppOnSuccess(data, redirectGidenFaturalar)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/YeniSmm/@action">

    <div class="row">
        <!--1 Row-->

        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="card card-default container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Tarih Ve Seri No Bilgileri</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div> <!-- /.card-header -->

                    <div class="card-body" id="loadingCheckTaxNumber">

                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Cariler.VergiNumarasi" class="form-control-label">*Müşteri Vergi No</label>
                                <div class="input-group mb-3">
                                    <input asp-for="Cariler.VergiNumarasi" class="form-control" id="Tx_Vdno" placeholder="" />
                                    <div class="input-group-append" style="cursor:pointer;" onclick="GetEInvoiceInfo()">
                                        <div class="input-group-text">
                                            <span class="fas fa fa-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Cariler.VergiNumarasi" class="text-danger"> </span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Tarih" class="form-control-label">Makbuz Tarihi ve Saati</label>
                                    <input asp-for="Tarih" type="text" class="form-control seridenapp-forms-select2" id="FaturaTarihi" />
                                    <span asp-validation-for="Tarih" class="text-danger"> </span>
                                </div>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-md-6" id="dv_SeriNumara">
                                <div class="form-group">
                                    <label asp-for="SeriNumaralarId" class="form-control-label">Seri No</label>
                                    <select asp-for="SeriNumaralarId" class="form-control seridenapp-forms-select2" id="Sb_SeriNumara"></select>
                                    <span asp-validation-for="SeriNumaralarId" class="text-danger"> </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FaturaNumarasi" class="form-control-label">Makbuz Numarası</label>
                                    <input asp-for="FaturaNumarasi" class="form-control seridenapp-forms-select2" />
                                    <span asp-validation-for="FaturaNumarasi" class="text-danger"> </span>
                                </div>
                            </div>
                        </div> <!-- /.row SeriNo & FatNo -->

                    </div> <!-- /.card-body -->


                </div><!--Card-->
            </div>
        </div><!--1.col-md-6-->

        <div class="col-lg-5 col-md-12 ml-md-5">
            <div class="row">
                <div class="card card-default container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Fatura Gönderim & Döviz Bilgileri</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div> <!-- /.card-header -->

                    <div class="card-body">

                        @*@if (ViewBag.FirmaTuru == EfaturaPortal.Models.Enum.FirmaTuru.Ticari)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FaturaTipi" class="form-control-label">Fatura Tipi</label>
                                            <select asp-for="FaturaTipi" class="form-control seridenapp-forms-select2" id="Sb_FaturaTipi" data-placeholder="Kayıt Türünü Seçiniz">
                                                @foreach (var item in Html.GetEnumSelectList<EfaturaPortal.Models.Enum.FaturaTipi>().ToList())
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                            <span asp-validation-for="FaturaTipi" class="text-danger"> </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FaturaSenaryo" class="form-control-label">Fatura Senaryosu</label>
                                            <select asp-for="FaturaSenaryo" class="form-control seridenapp-forms-select2" id="Sb_FaturaSenaryo" data-placeholder="Kayıt Türünü Seçiniz" asp-items="Html.GetEnumSelectList<EfaturaPortal.Models.Enum.FaturaSenaryo>()"></select>
                                            <span asp-validation-for="FaturaSenaryo" class="text-danger"> </span>
                                        </div>
                                    </div>
                                </div>
                            }*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Doviz" class="form-control-label">Para Birimi</label>
                                    <select asp-for="Doviz" onchange="DovizKuruGetir()" class="form-control" data-placeholder="" asp-items="@(new SelectList(Model.DovizKodlari,"DovizKodu","DovizAdi"))" id="Cm_Doviz">
                                    </select>
                                    <span asp-validation-for="Doviz" class="text-danger"> </span>
                                </div>
                            </div>
                            <div class="col-md-6" id="Dv_DovizKuru">
                                <label asp-for="DovizKuru" class="form-control-label">Doviz Kuru</label>
                                <input asp-for="DovizKuru" class="form-control" id="Tx_DovizKuru" />
                                <span asp-validation-for="DovizKuru" class="text-danger"> </span>
                            </div>
                        </div> <!-- /.row - Tipi & Senaryo-->

                    </div> <!-- /.card-body -->

                </div><!--Card-->
            </div>
        </div><!--Col-Md-6-->
    </div><!--1-Row-->

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="card card-default container-fluid">
                    <div class="card-header">
                        <h3 class="card-title">Müşteri Cari Bilgileri</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div> <!-- /.card-header -->

                    <div class="card-body" id="Dv_Cariler">


                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Cariler.Unvani" class="form-control-label">Ünvan</label>
                                <div class="input-group mb-3">
                                    <input asp-for="Cariler.Unvani" class="form-control" id="Tx_Cari_Unvani" />
                                    <span asp-validation-for="Cariler.Unvani" class="text-danger"> </span>
                                    <div class="input-group-append" style="cursor:pointer;" onclick="">
                                        <div class="btn btn-primary EfaturaPortalApp-datatables-create" data-endpoint="/YeniFatura/GetCariler" data-id="carisec">
                                            <span class="">Müşteri Seç</span>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="CarilerId" id="Hd_CarilerId" />
                                    <input type="hidden" asp-for="Cariler.Id" id="Hd_Cariler.Id" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Cariler.EfaturaPostaKutusu" class="form-control-label">Posta Kutusu Seç</label>
                                    <select asp-for="Cariler.EfaturaPostaKutusu" class="form-control" data-placeholder="" id="Cm_CariPostaKutusu">
                                    </select>
                                    <span asp-validation-for="Cariler.EfaturaPostaKutusu" class="text-danger"> </span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Cariler.VergiNumarasi" class="form-control-label">Vergi Numarası</label>
                                    <input asp-for="Cariler.VergiNumarasi" class="form-control" data-placeholder="" id="Tx_Cari_VergiNumarasi" />
                                    <span asp-validation-for="Cariler.VergiNumarasi" class="text-danger"> </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Cariler.VergiDairesi" class="form-control-label">Vergi Dairesi</label>
                                    <input asp-for="Cariler.VergiDairesi" class="form-control" data-placeholder="" id="Tx_Cari_VergiDairesi" />
                                    <span asp-validation-for="Cariler.VergiDairesi" class="text-danger"> </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Cariler.Ulke" class="form-control-label">*Ülke</label>
                                    <input asp-for="Cariler.Ulke" class="form-control" data-placeholder="" id="Tx_Cari_Ulke" />
                                    <span asp-validation-for="Cariler.Ulke" class="text-danger"> </span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Cariler.Adres" class="form-control-label">*Adres</label>
                                    <input asp-for="Cariler.Adres" class="form-control" data-placeholder="" autocomplete="off" id="Tx_Cari_Adres" />
                                    <span asp-validation-for="Cariler.Adres" class="text-danger"> </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Cariler.Email" class="form-control-label">Email</label>
                                    <input asp-for="Cariler.Email" class="form-control" data-placeholder="" id="Tx_Cari_Email" />
                                    <span asp-validation-for="Cariler.Email" class="text-danger"> </span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Cariler.Telefon" class="form-control-label">Telefon</label>
                                    <input asp-for="Cariler.Telefon" class="form-control" data-placeholder="" id="Tx_Cari_Telefon" />
                                    <span asp-validation-for="Cariler.Telefon" class="text-danger"> </span>
                                </div>
                            </div>
                        </div>



                    </div> <!-- /.card-body -->

                </div><!--Card-->
            </div>
        </div>
        @*@if (ViewBag.FirmaTuru == EfaturaPortal.Models.Enum.FirmaTuru.Ticari)
            {
                <div class="col-lg-5 col-md-12 ml-md-5">
                    <div class="card card-default container-fluid">
                        <div class="card-header">
                            <h3 class="card-title">Ödeme Şekli ve Hesap Bilgileri</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="OdemeTarihi" class="form-control-label">Ödeme Tarihi</label>
                                        <input asp-for="OdemeTarihi" type="text" class="form-control seridenapp-forms-select2" id="OdemeTarihi" />
                                        <span asp-validation-for="OdemeTarihi" class="text-danger"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="OdemeSekliKodu" class="form-control-label">Ödeme Türü Seçin</label>
                                        <select asp-for="OdemeSekliKodu" class="form-control">
                                            <option value="-1">Lütfen Ödeme Türü Seçin</option>
                                            @foreach (var data in Model.OdemeTurleriList)
                                            {
                                                <option value="@data.Kodu">@data.Adi</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="OdemeKanali" class="form-control-label">Ödeme Kanalı</label>
                                        <input asp-for="OdemeKanali" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="OdemeHesapNo" class="form-control-label">Ödeme Hesap No</label>
                                        <input asp-for="OdemeHesapNo" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            }*@

    </div><!--2-Row-->

    <div class="row">
        <div class="col-12">
            <div class="card card-default container-fluid">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="card-title">Makbuz Kalemleri</h3>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="form-group clearfix">
                                <div class="icheck-primary d-inline">
                                    <input type="checkbox" id="KdvDahil" name="r1" checked="">
                                    <label for="KdvDahil">
                                        Kdv Dahil Hesapla
                                    </label>
                                </div>
                            </div>
                        </div>*@
                </div> <!-- /.card-header -->
                <div class="card-body" style="padding:0px;">
                    <table class="table table-hover">
                        @*<thead>
                                <tr>
                                    <th class="col-md-12">

                                        <h6>Kalem Bilgileri</h6>

                                    </th>

                                </tr>
                            </thead>*@
                        <tbody id="Tb_InvoiceLine">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9"><button type="button" class="btn btn-fill  btn-primary" id="Bt_Add_InvoiceLine"> Mal/Hizmet Ekle</button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div><!--3-Row-->

    <div class="row" id="GenelToplam">
        <div class="col-md-6">
            <div class="card card-default container-fluid">
                <div class="card-header">
                    <h3 class="card-title">Dip Toplamlar</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div> <!-- /.card-header -->
                <div class="card-body" style="">
                    <div class="row">
                        <div class="col-md-4">
                            Brüt Toplam
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input asp-for="Toplam" class="form-control" type="number" readonly />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="firmaturu" value="@ViewBag.FirmaTuru" />
                    <div class="row">
                        <div class="col-md-4">
                            Stopaj Toplam
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input asp-for="Stopaj" class="form-control" type="number" id="Tx_Stopaj_Iskonto" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            0015-Kdv Toplam
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input asp-for="Kdv" class="form-control" type="number" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-md-4">
                            Diğer Vergi Toplamları
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input asp-for="DigerVergilerToplam" type="number" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Tevkifat Toplam
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input asp-for="TevkifatToplam" type="number" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Genel Toplam (Ödenecek Tutar)
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input asp-for="OdenecekTutar" type="number" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-6">
            <div class="card card-default container-fluid">
                <div class="card-header">
                    <h3 class="card-title">Notlar</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div> <!-- /.card-header -->
                <div class="card-body" style="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Notlar" class="form-control-label">Notlar</label>
                                <textarea asp-for="Notlar" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" id="kaydet" style="display:none" class="btn btn-success btn-kaydet col-md-3  mb-3 ml-2"><i class="fas fa fa-save"></i> Makbuzu Kaydet</button>

</form>
<div class="row">
    <button type="submit" id="kaydet"  class="btn btn-success btn-kaydet col-md-3  mb-3 ml-2"><i class="fas fa fa-save"></i> Faturayı Kaydet</button>
</div>
@section css
{
    <link href="~/plugins/adminLte/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <style>
        .notiflix-block-position {
            min-height: 0px !important;
        }
    </style>
}

@section Scripts
{
    <script src="~/plugins/adminLte/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/plugins/adminLte/plugins/daterangepicker/daterangepicker.js"></script>
    @*   <script src="~/js/Datatable/DataTable_GetData.js" asp-append-version="true"></script>*@
    <script>

        $('#EfaturaPortalApp-forms').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        var updateTax = false;

        $(function () {


            //Date range picker with time picker
            $('input[id*="Tarih"').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                autoApply: true,
                timePicker24Hour: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'DD.MM.YYYY H:mm',
                    applyLabel: "Uygula",
                    cancelLabel: "İptal",
                    daysOfWeek: [
                        "Pz",
                        "Pts",
                        "Sa",
                        "Çar",
                        "Per",
                        "Cu",
                        "Cts"
                    ],
                    monthNames: [
                        "Ocak",
                        "Şubat",
                        "Mart",
                        "Nisan",
                        "Mayıs",
                        "Haziran",
                        "Temmuz",
                        "Ağustos",
                        "Eylül",
                        "Ekim",
                        "Kasım",
                        "Aralık"
                    ],
                    firstDay: 1
                }
            },
                function (start, end, label) {

                })

        });



        $(document).ready(function () {
            GetSeriNumara();
        });

        $("#FaturaTarihi").on("apply.daterangepicker", function (ev, picker) {

            DovizKuruGetir();
        });

        $("#Tx_Vdno").focusout(function () {
            if ($("#Tx_Vdno").val() == "") return;

            if (!updateTax) return;

            updateTax = false;

            GetEInvoiceInfo();
        });

        $("#Tx_Vdno").on("change", function () {
            updateTax = true;
        });




        $("#Bt_Add_InvoiceLine").on("click", function () {

            Notiflix.Block.Standard("#Tb_InvoiceLine");

            var index = GetTableRowLenght();
            $.ajax({
                type: 'get',
                url: 'GetInvoiceLine?index=' + index,
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    $("#Tb_InvoiceLine").append(data);

                    initailizeSelect2($("#select2-" + index));

                    $(".select2-container").attr("style", "");

                    refreshrow();

                }
            });
        });

        function initailizeSelect2(select) {
            $(select).select2({
                tags: true
            });
        }

        function GetTableRowLenght() {
            var result = $("#Tb_InvoiceLine tr").length;
            return result;
        }

        function GetEInvoiceInfo() {


            $("#Cm_CariPostaKutusu").empty();
            Notiflix.Block.Standard("#loadingCheckTaxNumber");
            Notiflix.Block.Standard("#Dv_Cariler");

            $("#Tx_Cari_VergiNumarasi").val($("#Tx_Vdno").val());
            $.ajax({
                type: 'get',
                url: 'CheckTaxNumber?TaxNumber=' + $("#Tx_Vdno").val(),
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    console.log(data);
                    //$("#Sb_FaturaTuru option:selected").removeAttr("selected");
                    //if (!data.success) {
                    //    if (data.errorMessage != null) {
                    //        Notiflix.Report.Failure('Hata <br> Kodu :' + data.errorCode, data.errorMessage, 'Tamam');
                    //    } else {
                    //        $("#Sb_FaturaTuru").val("1").change();
                    //        $("#Sb_FaturaTuru option[value='1']").attr("selected", "selected");
                    //        //GetSeriNumara();
                    //        Notiflix.Notify.Warning('E-Arşiv Fatura Kesiyorsunuz !');

                    //    }
                    //} else {
                    //    $("#Sb_FaturaTuru").val("0").change();
                    //    $("#Sb_FaturaTuru option[value='0']").attr("selected", "selected");
                    //    $.each(data.gibUser, function (i, state) {
                    //        $("#Cm_CariPostaKutusu").append('<option value="' + state.alias + '">' + state.alias + '</option>');
                    //    });
                    //    // GetSeriNumara();
                    //    Notiflix.Notify.Warning('E-Fatura Kesiyorsunuz !');

                    //}

                    if (data.cari != null) {

                        $("#Tx_Cari_Unvani").val(data.cari.unvani);
                        $("#Tx_Cari_VergiDairesi").val(data.cari.vergiDairesi);
                        $("#Tx_Cari_Ulke").val(data.cari.ulke);
                        $("#Tx_Cari_Adres").val(data.cari.adres);
                        $("#Tx_Cari_Email").val(data.cari.email);
                        $("#Tx_Cari_Telefon").val(data.cari.telefon);
                        $("#Hd_CarilerId").val(data.cari.id);
                        $("#Hd_Cariler.Id").val(data.cari.id);

                    }


                }
            });
        }

        function refreshrow() {


            //GetNewRow();
            //GetIstisnaAndTevkifat();
            //DeleteRow();
            //EkKdvIslemleri();



        }

        //Cari Seç
        $(document).on("click", ".EfaturaPortalApp-Carisec", function () {

            var id = $(this).data("id");
            Notiflix.Block.Standard(".modal-content");
            $.ajax({
                type: 'get',
                url: 'GetCariWithId?Id=' + id,
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    console.log(data);
                    debugger;
                    if (!data.success) {
                        if (data.errorMessage != null) {
                            Notiflix.Report.Failure('Hata <br> Kodu :' + data.errorCode, data.errorMessage, 'Tamam');
                        } else {
                            $("#Sb_FaturaTuru").val("1");
                            GetSeriNumara();
                            Notiflix.Notify.Warning('E-Arşiv Fatura Kesiyorsunuz !');

                        }
                    } else {
                        $("#Sb_FaturaTuru").val("0");
                        $.each(data.gibUser, function (i, state) {
                            $("#Cm_CariPostaKutusu").append('<option value="' + state.alias + '">' + state.alias + '</option>');
                        });
                        GetSeriNumara();
                        Notiflix.Notify.Warning('E-Fatura Kesiyorsunuz !');

                    }

                    if (data.cari != null) {

                        $("#Tx_Cari_Unvani").val(data.cari.unvani);
                        $("#Tx_Cari_VergiDairesi").val(data.cari.vergiDairesi);
                        $("#Tx_Cari_Ulke").val(data.cari.ulke);
                        $("#Tx_Cari_Adres").val(data.cari.adres);
                        $("#Tx_Cari_Email").val(data.cari.email);
                        $("#Tx_Cari_Telefon").val(data.cari.telefon);
                        $("#Hd_CarilerId").val(data.cari.id);
                        $("#Hd_Cariler.Id").val(data.cari.id);
                        $("#Tx_Cari_VergiNumarasi").val(data.cari.vergiNumarasi);
                        $("#Tx_Vdno").val(data.cari.vergiNumarasi);
                        $('.EfaturaPortalApp-forms-modal').modal('hide');
                        // $("#Tx_Cari_").val(data.cari.unvani);

                    } else {
                        $("#Tx_Cari_Unvani").val(data.gibUser.title);
                    }


                }
            });

        });


        //  function GetNewRow() {
        $(document).on("change", "input[name ^= 'FaturaSatir']", function () {



            var index = $(this).closest("tr").data("index");
            console.log($(this).attr("Name"));

            if ($(this).attr("Name") == "FaturaSatir[" + index + "].KdvliTutar") {
                SatirHesapla(index, true);
            } else {
                SatirHesapla(index, false);
            }



        });
        // }

        function SatirHesapla(index, kdvDahil) {


            //   var miktar = $("input[name='FaturaSatir[" + index + "].Miktar']");
            var birimFiyat = $("input[name='FaturaSatir[" + index + "].BirimFiyat']");
            var iskontoOran = $("input[name='FaturaSatir[" + index + "].StopajOran']");
            var iskontoTutar = $("input[name='FaturaSatir[" + index + "].StopajTutar']");
            var kdvOran2 = $("input[name='FaturaSatir[" + index + "].KdvOran']");
            var kdvTutar = $("input[name='FaturaSatir[" + index + "].KdvTutar']");
            var tutar = $("input[name='FaturaSatir[" + index + "].Tutar']");
            var tevtutar = $("input[name='FaturaSatir[" + index + "].TevkifatTutar']");
            var kdvlitutar = $("input[name='FaturaSatir[" + index + "].KdvliTutar']");

            var indoran = toDouble(iskontoOran.val());
            var kdvOran = toDouble(kdvOran2.val());
            var birimtutar = 0;

            var indtutar = 0;
            debugger;
            if (kdvDahil) {
                if (indoran > 0) {
                    birimtutar = kdvlitutar.val() * (100 / (100 - (indoran - kdvOran)));
                } else {
                    birimtutar = kdvlitutar.val() / (1 + (kdvOran / 100));
                }
     
                birimFiyat.val(birimtutar.toFixed(4));
            } else {
                birimtutar = toDouble(birimFiyat.val());
            }
            var nettutar = birimtutar;

            if (indoran > 0) {
                if (kdvDahil) {
                   
                }
                indtutar = birimtutar * (indoran / 100)
                nettutar = birimtutar - indtutar;
            }
            var kdvtutar = (birimtutar * ( kdvOran / 100));
            var gtoplam = kdvtutar + nettutar;
            var tevkifatoran = $("select[name='FaturaSatir[" + index + "].TevkifatOran']").val();

            if (tevkifatoran != "-1") {
                debugger;
                var tevkifat = tevkifatoran.split("/");
                var oran = toDouble(tevkifat[0]) / toDouble(tevkifat[1]);
                var tevkifattutar = kdvtutar * oran;
                gtoplam = (kdvtutar - tevkifattutar) + nettutar;
                tevtutar.val(tevkifattutar.toFixed(4));
            } else {
                tevtutar.val("");
            }


            birimFiyat.val(birimFiyat.val().replace(",", "."));
            iskontoTutar.val(indtutar.toFixed(4));
            tutar.val(nettutar.toFixed(4));
            kdvTutar.val(kdvtutar.toFixed(4));
            kdvlitutar.val(gtoplam.toFixed(4));

            GenelToplamHesapla()
        }


        function GenelToplamHesapla() {

            var tutar = 0;
            var kdvtutar = 0;
            var iskontotutar = 0;
            var gtoplam = 0;
            var digervergitoplam = 0;
            var tevkifattoplam = 0;

            $("#Tb_InvoiceLine tr").each(function (index, row) {
                tutar = tutar + toDouble($(row).find("input[name='FaturaSatir[" + index + "].BirimFiyat']").val());
                kdvtutar = kdvtutar + toDouble($(row).find("input[name='FaturaSatir[" + index + "].KdvTutar']").val());
                iskontotutar = iskontotutar + toDouble($(row).find("input[name='FaturaSatir[" + index + "].StopajTutar']").val());
                gtoplam = gtoplam + toDouble($(row).find("input[name='FaturaSatir[" + index + "].KdvliTutar']").val());
                tevkifattoplam = tevkifattoplam + toDouble($(row).find("input[name='FaturaSatir[" + index + "].TevkifatTutar']").val());

                $(row).find("#KdvContent-" + index).find("div[id^='kdvRow']").each(function (kdvindex, kdvrow) {
                    debugger;
                    var data = toDouble($(kdvrow).find("input[name*='KdvTutar']").val());
                    debugger;
                    digervergitoplam = digervergitoplam + data;
                    debugger;
                });

            });

            $("#GenelToplam").find("input[name='Toplam']").val(tutar.toFixed(4));
            $("#GenelToplam").find("input[name='Kdv']").val(kdvtutar.toFixed(4));
            $("#GenelToplam").find("input[id='Tx_Stopaj_Iskonto']").val(iskontotutar.toFixed(4));
            $("#GenelToplam").find("input[name='OdenecekTutar']").val(gtoplam.toFixed(4));
            $("#GenelToplam").find("input[name='TevkifatToplam']").val(tevkifattoplam.toFixed(4));
            $("#GenelToplam").find("input[name='DigerVergilerToplam']").val(digervergitoplam.toFixed(4));


        }



        $(document).on("change", "select[name*='Kodu']", function () {
            var index = $(this).closest("tr").data("index");
            SatirHesapla(index);
        });

        // function GetIstisnaAndTevkifat() {
        $(document).on("click", ".btnKodlar", function () {
            var index = $(this).data("index");

            var fattipi = $("#Sb_FaturaTipi").val();

            if (fattipi == "0" || fattipi == "1") {
                Notiflix.Report.Failure('Fatura Tipi', "İstisna veya Tevkifat kodlarını açabilmek için Fatura Tipini İstisnalı veya Tevkifatlı fatura olarak seçin !", 'Tamam');
                $("#Sb_FaturaTipi").focus();
            } else {
                $("#Kodlar-" + index).fadeIn();
            }



        });

        $(document).on("change", "select[name*='TevkifatOran']", function () {
            var index = $(this).data("index");

            SatirHesapla(index);

        });

        $(document).on("change", "select[name*='TevkifatKodu']", function () {


            var index = $(this).data("index");

            if ($("select[name='FaturaSatir[" + index + "].TevkifatKodu']").val() != "650") {

                var tevkifatText = $("select[name='FaturaSatir[" + index + "].TevkifatKodu'] option:selected").text();

                var oran = tevkifatText.substr(5, 4);

                $("select[name='FaturaSatir[" + index + "].TevkifatOran']").val(oran);

                $("select[name='FaturaSatir[" + index + "].TevkifatOran']").prop("disabled", "disabled");

                SatirHesapla(index);

            } else {
                $("select[name='FaturaSatir[" + index + "].TevkifatOran']").prop("disabled", false);

                $("select[name='FaturaSatir[" + index + "].TevkifatOran']").val("-1");

            }


        });
        // }

        //function DeleteRow() {
        $(document).on("click", ".btnDelete", function () {
            var index = $(this).data("index");

            Notiflix.Confirm.Show(
                'Emin misiniz ?',
                'Seçili Fatura Satırı Silinecek',
                'Evet Sil',
                'Hayır Silme',
                () => {
                    ConfirmDeleteRow(this);
                }

            );

        });
        //  }

        function ConfirmDeleteRow(object) {
            var index = $(object).closest("tr").data("index");
            var countRow = GetTableRowLenght();
            $($(object).closest("tr")).remove()

            $("#Tb_InvoiceLine tr").each
                (

                    function (index, tr) {

                        $(tr).data("index", index);
                        $(tr).attr("data-index", index);

                        $(tr).find("input[name^='FaturaSatir']").each(
                            function (row, inp) {
                                var name = $(inp).attr("Name").split('.');
                                $(inp).attr("Name", "FaturaSatir[" + index + "]." + name[1]);
                                $(inp).attr("data-index", index);
                            }
                        );

                        $(tr).find("select[name^='FaturaSatir']").each(
                            function (row, inp) {
                                var name = $(inp).attr("Name").split('.');
                                $(inp).attr("Name", "FaturaSatir[" + index + "]." + name[1]);
                                $(inp).attr("data-index", index);
                            }
                        );

                        $(tr).find("div[id^='KdvContent']").each(function (c, divcontent) {

                            $(divcontent).find("div[id^='kdvRow']").each(function (i, divdata) {

                                $(divdata).find("select[name*='Kdvler']").each(
                                    function (row, inp) {
                                        var name = $(inp).attr("name").split('.');
                                        debugger;
                                        $(inp).attr("Name", "FaturaSatir[" + index + "].Kdvler[" + i + "]." + name[2]);
                                        $(inp).attr("data-index", i);
                                    }
                                );

                                $(divdata).find("input[name*='Kdvler']").each(
                                    function (row, inp) {
                                        var name = $(inp).attr("name").split('.');
                                        debugger;
                                        $(inp).attr("Name", "FaturaSatir[" + index + "].Kdvler[" + i + "]." + name[2]);
                                    }
                                );

                                $(divdata).attr("id", "kdvRow-" + index + "-" + i);
                                $(divdata).find("div[id^='btnkdvSil']").attr("data-index", index + "-" + i);
                                $(divdata).find("div[id^='btnkdvSil']").attr("id", "btnkdvSil-" + index + "-" + i);

                            });

                            $(divcontent).attr("id", "KdvContent-" + index);


                        });




                    }
                );



        }

        //  function EkKdvIslemleri() {

        $(document).on("click", ".btnKdvler", function () {

            var index = $(this).data("index");

            var kdvindex = $("#KdvContent-" + index + " div[id^='kdvRow']").length;

            $.ajax({
                type: 'get',
                url: 'GetInvoiceTaxLine?index=' + index + '&KdvIndex=' + kdvindex,
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    $("#KdvContent-" + index).append(data);
                    //EkkdvIslemlerAfterLoad();
                }
            });

        });




        // }


        // function EkkdvIslemlerAfterLoad() {

        $(document).on("click", "div[id^='btnkdvSil']", function () {

            debugger;
            var index = $(this).data("index");

            var satirindex = index.split('-')[0];

            $("#kdvRow-" + index).remove();

            $("#KdvContent-" + satirindex).find("div[id^='kdvRow']").each(function (i, divdata) {



                $(divdata).find("select[name*='Kdvler']").each(
                    function (row, inp) {
                        var name = $(inp).attr("Name").split('.');
                        $(inp).attr("Name", "FaturaSatir[" + satirindex + "].Kdvler[" + i + "]." + name[2]);
                        $(inp).attr("data-index", i);
                    }
                );

                $(divdata).find("input[name*='Kdvler']").each(
                    function (row, inp) {
                        var name = $(inp).attr("Name").split('.');
                        $(inp).attr("Name", "FaturaSatir[" + satirindex + "].Kdvler[" + i + "]." + name[2]);
                    }
                );

                $(divdata).attr("id", "kdvRow-" + satirindex + "-" + i);
                $(divdata).find("div[id^='btnkdvSil']").attr("data-index", satirindex + "-" + i);
                $(divdata).find("div[id^='btnkdvSil']").attr("id", "btnkdvSil-" + satirindex + "-" + i);

            });
            //EkKdvIslemleri();
            //EkkdvIslemlerAfterLoad();

        });
        // }


        function toDouble(value) {

            if (value == null || value == "") {
                value = 0;
            } else {
                value = value.replace(",", ".");
            }
            var result = parseFloat(value);

            return result;
        }




        function GetSeriNumara() {
            $("#Sb_SeriNumara").empty();
            Notiflix.Block.Standard("#dv_SeriNumara");
            $.ajax({
                type: 'get',
                url: 'GetSeriNumaralar?Yil=' + moment($('#FaturaTarihi').data('daterangepicker').startDate).year(),
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    $.each(data, function (i, state) {
                        $("#Sb_SeriNumara").append('<option value="' + state.id + '">' + state.seriNo + '</option>');
                    });
                }
            });
        }

        function DovizKuruGetir() {

            if ($("#Cm_Doviz").val() == "TRY") {
                $("#Tx_DovizKuru").val("1");
                return;
            }

            Notiflix.Block.Standard("#Dv_DovizKuru");

            $.ajax({
                type: 'get',
                url: 'GetDovizKuru?DovizKodu=' + $("#Cm_Doviz").val() + '&' + 'Tarih=' + $("#FaturaTarihi").val(),
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    if (data.success) {
                        $("#Tx_DovizKuru").val(data.value);
                    } else {
                        Notiflix.Notify.Failure("Döviz Kuru Alırken Hata -> " + data.message);
                    }
                }
            });

        }

        $(document).on("click", ".btn-kaydet", function () {
            Notiflix.Confirm.Show(
                'Emin misiniz ?',
                'Faturanız Taslak olarak kayıt edilecek. Onaylıyor musunuz ? ',
                'Evet Onaylıyorum',
                'Vazgeç',
                () => {
                    $("#kaydet").click();
                }

            );
        });

        function CreateInvoiceBegin() {

        }

        function redirectGidenFaturalar() {
            window.location.href = '/GidenFaturalar';
        }


                                                                                                                                                     //   });
    </script>

}
